* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #222831;
    --white: #fff;
    --whiteish: #eee;
    --orange: #FFBE33;
}

html {
    font-size: 16px;
    font-family: 'Libre Bodoni', serif;
    color: var(--whiteish);

}

ul {
    list-style: none;
}

a {

    text-decoration: none;
    color: var(--whiteish);
    letter-spacing: 0.1rem;
}

nav {
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: var(--black);


}

.container {
    width: 100%;
    max-width: 65rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.hamburger-nav {
    display: none;
    border: none;
    background-color: var(--black);
    color: var(--whiteish);
    font-size: 2.2rem;
}

.brand-logo span {
    font-size: 1.8rem;
    letter-spacing: 0.18rem;
}

nav ul {
    display: flex;
}

nav ul li {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    margin: 0 1.7rem;
}

nav ul li a {
    position: relative;
    padding: 0 7px;

}

nav ul li a::before {
    position: absolute;
    bottom: -2px;
    left: 0;
    display: inline-block;
    content: " ";
    width: 0px;
    height: 2px;
    background-color: var(--white);
    transition: all .3s ease-in;
}

nav ul li a:hover::before {
    width: 100%;

}


.btn {
    cursor: pointer;
    border: none;
    background-color: var(--orange);
    padding: 0.8rem 1.3rem;
    border-radius: 1.25rem;
    color: var(--whiteish);

}

.hero-sec {
    height: 90vh;
    background-image: url('/images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-section {
    margin-left: 6.35rem;
}

.hero-section h3 {
    font-size: 2.2rem;
}

.hero-section p {
    width: 40%;
    padding: 2rem 0;
    line-height: 1.4rem;
}

.section-btn {
    cursor: pointer;
    border: none;
    background-color: var(--orange);
    padding: 0.8rem 1.3rem;
    border-radius: 1.25rem;
    color: var(--whiteish);
}